* {
    font-size: 14px;
    font-family: sans-serif;
}

/*
    References:
        https://github.com/filipelinhares/ress/blob/master/ress.css
        https://github.com/jtrost/Complete-CSS-Reset/blob/master/reset.css
        https://github.com/jgthms/minireset.css/blob/master/minireset.css
        https://github.com/jasonkarns/css-reset/blob/master/reset.css
        http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset.css
        https://github.com/shannonmoeller/reset-css/blob/master/reset.css
        https://github.com/RafaelDeJongh/Rafael-CSS-Reset/blob/gh-pages/reset.css
        https://github.com/jaydenseric/Fix/blob/master/fix.css
        https://github.com/necolas/normalize.css/blob/master/normalize.css
*/

/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*, ::before, ::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

*, ::before, ::after {
    background-repeat: no-repeat;
}

* {
    vertical-align: baseline;
    font-size: 100%;            /* Helpful for tags like: h1, h2, h3, h4, h5, h6 */
    font-style: normal;         /* Helpful for tags like: address, cite, dfn, em, var */
}

* {
    font-family: inherit;       /* Helpful for tags like: code, kbd, samp, tt */
}
html {
    /* https://www.smashingmagazine.com/2009/09/complete-guide-to-css-font-stacks/#the-myth-of-web-safe-fonts */
    /* http://code.stephenmorley.org/html-and-css/the-myth-of-web-safe-fonts/#narrowsansserif */
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

* {
    font-weight: inherit;        /* Helpful for tags like: strong, h1, h2, h3, h4, h5, h6 */
}
html {
    font-weight: normal;
}

*:not(input):not(button) {
    margin: 0;
    padding: 0;
    border: 0;                  /* Helpful for tags like: hr */
}

body {
    line-height: normal;        /* Don't reset line-height to "1" as many of the CSS Reset libraries do because that reduces readability */
}

iframe {
    border: 0;
    vertical-align:bottom;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}

.App__ContentWide--Llj80 {
    margin-left: 15px;
    margin-right: 15px;
}

@media (min-width: 640px) {
    .App__ContentWide--Llj80 {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (min-width: 1024px) {
    .App__ContentWide--Llj80 {
        margin-left: 35px;
        margin-right: 35px;
    }
}

@font-face {
    font-family: 'Transformers';

    /*!
        Transformers Font
        Credits: https://www.alphabet-type.com/
        Reference: https://betterstudio.com/fonts/transformers-font/
    */
    src: url(62af6cda92392c482420.woff2) format('woff2');
}

.PageHeader__PageHeader--AAWQ1 {
}

.PageHeader__PageHeader--AAWQ1 h1,
.PageHeader__PageHeader--AAWQ1 h1 * {
    font-family: 'Transformers', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
}

@container (min-width: 640px) {
    .helperStyles__hideForContainerGE640--MOu7X {
        display: none;
    }
}

@container not (min-width: 640px) {
    .helperStyles__hideForContainerLT640--Ow38P {
        display: none;
    }
}

.MainEditor__MainEditor--Q_tBg .ace_editor,
.MainEditor__MainEditor--Q_tBg .ace_editor * {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.MainEditor__translucentWithoutHover--GBmBJ {
    opacity: 0.2;
}
.MainEditor__translucentWithoutHover--GBmBJ:hover {
    opacity: 1;
}

.MainEditor__SelectTheOperation--wnn3M {
    width: 75px;
}
@container (min-width: 320px) {
    .MainEditor__SelectTheOperation--wnn3M {
        width: 125px;
    }
}

.SingleEditor__SingleEditor--kv3Xy {
}

.DoubleEditor__DoubleEditor--molkI {
}

.DoubleEditor__DoubleEditorContainer--QjHrA {
    display: grid;
    grid-gap: 15px;

    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .DoubleEditor__DoubleEditorContainer--QjHrA {
        grid-template-columns: 1fr 124px 1fr;
        grid-template-rows: auto;
    }
}

.DoubleEditor__Combinator--BS6ym {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .DoubleEditor__Combinator--BS6ym {
        margin-top: 27px;
    }
}

.DoubleEditor__Swap--KQmx6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 768px) {
    .DoubleEditor__Swap--KQmx6 {
        margin-top: 36px;
    }
}

.DoubleEditor__SwapButton--nb6q9 {
    transform: rotate(90deg);
}
@media (min-width: 768px) {
    .DoubleEditor__SwapButton--nb6q9 {
        transform: unset;
    }
}

.TripleEditor__TripleEditor--CeiGf {
}

.ContentTabs__ContentTabs--fG_XB {
}

.Dashboard__Dashboard--d2pNX {
}

.PageFooter__PageFooter--yI25Y {
}

.msg {
    font-weight: bold;
    font-size: 10px;
}


/*# sourceMappingURL=bundle.index.f2f18bf4f2f8449b13f5.css.map*/