.MainEditor :global(.ace_editor),
.MainEditor :global(.ace_editor) * {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.translucentWithoutHover {
    opacity: 0.2;
}
.translucentWithoutHover:hover {
    opacity: 1;
}

.SelectTheOperation {
    width: 75px;
}
@container (min-width: 320px) {
    .SelectTheOperation {
        width: 125px;
    }
}
