@font-face {
    font-family: 'Transformers';

    /*!
        Transformers Font
        Credits: https://www.alphabet-type.com/
        Reference: https://betterstudio.com/fonts/transformers-font/
    */
    src: url('./transformers.woff2') format('woff2');
}

.PageHeader {
}

.PageHeader h1,
.PageHeader h1 * {
    font-family: 'Transformers', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
}
