<!doctype html>
<html data-app-version="{{appVersion}}">

<head>
    <title>Transformers: Tools for working with data from Text, List, Set, CSV, JSON, etc</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no" />

    <!--
        Favicon is loaded from "./favicon.ico" since this page is served from:
            * `/index.html` on Local
            * `/transformers/index.html` on GitHub Pages
    -->
    <link rel="shortcut icon" href="./favicon.ico" />

    <style>
        /* If most of the times, the page would have a vertical scroll, then this style should be added to the html file
        itself to avoid FOUC */
        body {
            overflow-y: scroll;
        }
    </style>
</head>

<body>
    <div id="root"></div>

    {{#loadAllCssAndJsChunks}}
    {{/loadAllCssAndJsChunks}}
</body>

</html>
